.container{
  border: 1px solid black;
  padding: 12px;
  background-color: rgba(211, 211, 211, 0.09);
}

.container > div:not(:first-child){
  margin-top: 20px;
}

.container h5{
  margin-bottom: 8px;
}

.container li{
  padding: 10px 0px;
  display: flex;
  gap: 4px;
  padding-left: 8px;
  font-size: 0.9rem;
}

.icon{
  color: #258525;
  font-size: 0.9rem;
}

.container li:hover{
  background-color: #d3e8fa70;
  color: #383838;
  cursor: pointer;
}