.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.container > ul{
  display: flex;
  gap: 10px;
}