.container{
  margin: 6px 3px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.products{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products > li {
  
}

.manager{
  display: flex;
  flex-direction: column;
  gap: 10px;
}