.container{
  width: 1600px;
  border: 1px solid black;
  margin: 0 auto;
}

.main{
  display: flex;
}

.side{
  width: 15%;
  border: 1px solid black;
}

.content{
  width: 85%;
  border: 1px solid black;
}

