.input{
  font-size: 0.9rem;
  padding: 0.3rem;
  width: 250px;
  border: 1px solid rgb(241, 157, 1);
  border-radius: 4px;
  outline : none;
  transition: all 0.2s;
}

.input:focus{
  border-color: rgb(255, 95, 2);
  box-shadow: 0 0 0 0.25rem rgba(252, 184, 38, 0.25);
}

