.input{
  font-size: 0.9rem;
  padding: 0.3rem;
  width: 250px;
  border: 1px solid rgb(60, 150, 48);
  border-radius: 4px;
  outline : none;
  transition: all 0.2s;
}

.input:focus{
  border-color: rgb(30, 88, 3);
  box-shadow: 0 0 0 0.25rem rgba(167, 216, 154, 0.25);
<<<<<<< HEAD
}
=======
}

>>>>>>> 96ef918e4c24c5d62ba22a8c6e737755664613c5
