.container{
  width: 50%;
  margin: auto;
}

.originImg{
  display: flex;
  gap: 40px;
  margin-left: 90px;
}

.mainImg ::before{
  perspective: 1000px;
  transition: 0.3s ease;
}

.mainImg:hover{
  width : 200px;
  transform: rotate3d(0, 1, 0.5, -15deg);
}

.info_div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 18px;
}

.info > p:first-child{
  font-size: 1.6rem;
}

.info > p:first-child::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(173, 173, 173);
  margin-top: 10px;
}

.btn_div{
  display: flex;
  gap: 10px;
}

.btn_div > :last-child{
  background-color: rgb(250, 226, 15);
  color: black;
  width: 140px;
}

.btn_div > :last-child:hover{
  background-color: rgb(255, 204, 37);
  color: white;
}

.detailInfo_div::before{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(173, 173, 173);
  margin: 15px 0px;
}

.detailInfo_div{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.subImg{
  text-align: center;
}