.container{
  width: 400px;
  margin: 0 auto;
}

.container input{
  width: 100%;
}

.container div{
  margin-bottom: 0.7rem;
}

.title_div{
  display: flex;
  justify-content: center;
}

.title_div > h2{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.container > div > p{
  margin-bottom: 0.2rem;
}

.id_div{
  display: flex;
  gap: 6px;
}

.id_div > input{
  width: 70%;
}

.id_div > button{
  width: 30%;
}

.tel_div{
  display: flex;
  gap: 6px;
}

.addr_div{
  display: flex;
  gap: 6px;
  margin-bottom: 0.2rem;
}

.addr_div > input{
  width: 70%;
}

.addr_div > button{
  width: 30%;
}

.btn_div > button{
  width: 100%;
}
