.container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 25%;
}

.container > h2 {
  font-size: 2.7rem;
  text-align: center;
  margin: 15px 0px;
}


.email > input{
  width: 350px;
  height: 35px;
  margin-top: 8px;
}

.email > button {
  margin-left: 5px;
  border-radius: 4px;
  width: 70px;
  height: 35px;
  border: none;
  background-color: rgb(227, 207, 250);
  font-size: 1.0rem;
  padding: 2px;
  cursor: pointer;
}

.pw > input{
  width: 430px;
  height: 35px;
  margin-top: 8px;
}

.confirmPw > input{
  width: 430px;
  height: 35px;
  margin-top: 8px;
}

.name > input{
  width: 430px;
  height: 35px;
  margin-top: 8px;
}

.tel_input{
 display: flex;
 gap: 50px;
 align-items: flex-start;
 
}

.tel_input > input{
  width: 110px;
  height: 35px;
  margin-top: 8px;
}

.addr > :nth-child(2){
  width: 350px;
  height: 35px;
  margin: 8px 8px 4px 0px;
}

.addr > button {
  width: 73px;
  height: 35px;
  border: none;
  background-color: rgb(227, 207, 250);
  border-radius: 4px;
  font-size: 1.0rem;
  cursor: pointer;
}

.addr > :last-child{
  width: 430px;
  height: 35px;
}

.joinBtn > button{
  width: 430px;
  height: 35px;
  border: none;
  border-radius: 4px;
  background-color: rgb(227, 207, 250);
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 5px;
}


