.container{
  border: 1px solid black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.result{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.result > div{
  border: 2px solid rgb(255, 206, 46);
  border-radius: 8px;
  padding: 20px 13px 25px 13px;
  background-color: ivory;
}

.result > div > p:first-child{
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.result > div > p:last-child{
  text-align: end;
  color: red;
  font-size: 1.4rem;
}

.table_div{
 
}

.table_div table{

}

